<div class="card" style="width: 18rem;" id="<%= dom_id post %>">
  <img src="https://worldwidetravel.tips/wp-content/uploads/2021/12/Where-are-the-Maldives-Located-_120-256x256.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text">Likes <%= post.likes %></p>
    <p class="card-text">Comments <%= post.comment_count %></p>
    <p class="card-text">Read Comments <%= post.comments %></p>
  </div>
</div>